.debug main, 
.debug footer{
    border: 3px solid lightgreen;
}

.debug aside, 
.debug .main-content,
.debug footer .first,
.debug footer .second,
.debug footer .third{
    border: 3px solid violet;
}

.debug aside .sidenav-top, 
.debug aside .sidenav-bottom, 
.debug .main-content .first,
.debug .main-content .second,
.debug .main-content .third{
    border: 3px solid yellow;
}