/* main */
main{
    height: calc(100vh - 80px);
}

aside{
    width: 15%;
}

aside .sidenav-top{
    height: 80%;
}

aside .sidenav-bottom{
    height: 20%;
}

.main-content{
    width: 85%;
}

.main-content .first{
    height: 10%;
}

.main-content .second{
    height: 5%;
}

.main-content .third{
    height: 85%;
}

/* footer */
footer{
    height: 80px;
}

footer .first{
    width: 25%;
}

footer .second{
    width: 50%;
}

footer .third{
    width: 25%;
}