/* globals */
body{
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

p, h1, h2, h3, h4, a, li, i{
    color: #fff;
}

/**** gobal-container ****/
.global-container{
    position: relative;
}

main{
    height: calc(100vh - 80px);
}


/**** sidebar ****/
aside{
    width: 20%;
    background-color: var(--black);
}

aside .sidenav-top{
    height: 80%;
}

aside .sidenav-bottom{
    height: 20%;
}

aside .sidenav-top{
    padding: 20px 0px;
}

.sidenav-top img.logo{
    max-width: 150px;
    cursor: pointer;
}

.sidenav-top img.logo-xs{
    display: none;
}

.sidenav-top li{
    cursor: pointer;
}

.sidenav-top .menu .menu-item:hover a,
.sidenav-top .menu .menu-item:hover i{
    color: var(--white);
}

.sidenav-top .menu-item i{
    font-size: 1.5em;
}

.sidenav-top .menu-item a, 
.sidenav-top .menu-item i,
.sidenav-top .playlist .playlist-item,
.sidenav-bottom i{
    color: var(--text-gray);
    font-weight: 600;
}

.sidenav-top li.active a, 
.sidenav-top li.active i{
    color: var(--white);
}

.sidenav-top li.active{
    border-left: 3px solid var(--tertiary);
}

.sidenav-top .playlist .playlist-item:hover{
    color: var(--white);
}

.sidenav-top .playlist h3{
    text-transform: uppercase;
    font-size: 0.9em;
}

.sidenav-top .playlist .ri-add-box-fill{
    font-size: 2.5em;
    color: var(--text-gray);
}

.sidenav-bottom hr{
    border: 0.5px solid var(--text-gray);
}

.sidenav-bottom .user i{
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 6px;
    color: #fff;
}

.playlist .playlist-top{
    height: 20%;
}

.playlist .playlist-bottom{
    height: 80%;
}

/**** main content ****/
.main-content .first{
    min-height: 80px;
    background-color: var(--primary-dark);
}

.main-content .second{
    min-height: 80px;
    background-color: var(--primary);
}

.main-content .third{
    background-color: var(--primary);
    overflow-y: scroll;
    padding: 30px 0px;
}

.main-content .navbar .nav-item a{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-gray);
}

.main-content .navbar .nav-item a:hover{
    color: var(--white);
}

.main-content .navbar .nav-item div{
    height: 3px;
    background-color: transparent;
    width: 60%;
}

.main-content .navbar .nav-item.active div{
    background-color: var(--tertiary);
}

.main-content .third  .cards .card{
    max-width: calc((100% / 6) - 20px);
}

.main-content .third .cards .card p{
    color: var(--text-gray);
    font-weight: 600;
}

.main-content .third .card .card-image{
    position: relative;
    cursor: pointer;
}

.main-content .third .card .card-image img{
    width: 100%;
    height: 100%;
}

.main-content .third .card .card-image .ri-play-circle-line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    display: none;
}

.main-content .third .card .card-image:hover img,
.main-content .third .card .card-image.active img{
    opacity: 0.5;
}

.main-content .third .card .card-image:hover .ri-play-circle-line, 
.main-content .third .card .card-image.active .ri-play-circle-line{
    display: block;
}

.main-content .third .subtitle{
    font-weight: 600;
    color: var(--text-gray);
}

/*** footer ****/
footer{
    height: 80px;
    width: 100%;
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
}

footer .first{
    min-width: 25%;
}

footer .second{
    min-width: 50%;
}

footer .third{
    min-width: 25%;
}

footer .first img{
    width: 60px;
    height: 60px;
}

footer i{
    cursor: pointer;
}

footer i:hover,
footer i.ri-heart-3-line:hover,
footer i.ri-folder-line:hover{
    color: #f2f2f2;
}

footer .first p, footer .first i{
    color: var(--text-gray);
}

footer .first p{
    font-weight: 600;
    font-size: 0.8em;
}

footer .first i{
    font-size: 1.2em;
}

footer .second i{
    font-size: 1.4em;
}

footer .second i.player{
    font-size: 1.7em;
}

footer .second .time{
    font-size: 0.8em;
}

footer .play-bar{
    height: 4px;
    border-radius: 20px;
    background-color: #5A5A5A;
}

footer .play-bar .inner{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #C1C1C1;
}

/**** responsive ****/
@media only screen and (max-width: 768px){

    /* sidebar */
    aside{
        width: 100%;
    }

    .sidenav-top .menu-item i{
        font-size: 1.2em;
    }

    .sidenav-top .menu-item a, .sidenav-top .playlist li{
        font-size: 0.9em;
    }

    /* main content */
    .main-content .second .navbar{
        padding:  0px 10px;
    }

    .main-content .second .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-content .second .navbar ul li{
        margin-bottom: 10px;
    }

    .main-content .second .navbar .nav-item a{
        font-size: 0.6em;
    }

    .main-content .third .row h2{
        font-size: 1.2em;
    }

    .main-content .card h3{
        font-size: 0.6em;
    }

    .main-content .card p{
        font-size: 0.5em;
    }

    .main-content .row .subtitle{
        font-size: 0.8em;
    }

    .main-content .third .cards{
        flex-wrap: wrap;
    }

    .main-content .third  .cards .card{
        max-width: calc((100% / 4) - 20px);
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 576px){
    .main-content .third  .cards .card{
        max-width: calc((100% / 2) - 20px);
        margin-bottom: 30px;
    }

    footer .first .icons{
        flex-direction: column;
    }

    footer .first img{
        margin-right: 5px;
    }

    footer .first,
    footer .second,
    footer .third{
        padding: 5px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px){
    
    aside{
        width: 50%;
    }

    aside .sidenav-top img.logo,
    aside .sidenav-top .playlist,
    aside .sidenav-top .menu .menu-item a,
    aside .sidenav-bottom button p{
        display: none;
    }

    aside .sidenav-top .menu .menu-item i{
        margin: 0;
        
    }

    aside .sidenav-top .logo-box{
        display: flex;
        justify-content: center;
    }

    aside .sidenav-top .menu ul li{
        justify-content: center;
        
    }

    .sidenav-top img.logo-xs{
        display: inline-block;
        width: 30px;
    }

    .sidenav-bottom button,
    .sidenav-bottom button.user {
        justify-content: center;
    }

    .sidenav-bottom button.user i{
        margin-right: 0;
    }

    footer .first,
    footer .third{
        display: none;
    }
}


