/* css reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* palette */
:root{
    --primary: #141922;
    --primary-dark: #080B12;
    --secondary: #282828;
    --tertiary: #ADFF2F;

    --black: #000000;
    --white: #FFFFFF;

    --text-gray: #7C7E83;
}

/**** utilities ****/
/* positioning */
.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.jc-between{
    justify-content: space-between;
}

.jc-end{
    justify-content: flex-end;
}

.jc-center{
    justify-content: center;
}

.al-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.gap-30{
    gap: 30px;
}

.overflow-auto{
    overflow-y: auto;
}

.overflow-hidden{
    overflow-y: hidden;
}

/* width */
.w-10{
    width: 10%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}

.w-100{
    width: 100%;
}

/* margin */
.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-15{
    margin-bottom: 15px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-25{
    margin-bottom: 25px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-80{
    margin-bottom: 80px;
}

.mt-20{
    margin-bottom: 20px;
}

.mr-10{
    margin-right: 10px;
}

.mr-20{
    margin-right: 20px;
}

.my-20{
    margin: 20px 0px;
}

/* padding */
.px-10{
    padding: 0px 10px;
}

.px-20{
    padding: 0px 20px;
}

.px-30{
    padding: 0px 30px;
}

.py-20{
    padding: 20px 0px;
}

.p-20{
    padding: 20px;
}

/* button */
.btn{
    cursor: pointer;
}

.btn-white{
    display: inline-block;
    padding: 12px 25px;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 20px;
}

.btn-classic{
    background-color: transparent;
    border: 0px;
    color: var(--text-gray);
    font-weight: 600;
}

/* borderd */
.circle{
    border-radius: 50%;
}